$paleta:#3F6CA6;

.container_404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_404__imagen{
    margin-bottom: 2em;
}

.container_404__titulo{
    margin-top: 2em;
    margin-bottom: 2em;
}

.container_404__boton{
    margin-top: 2em;
}

.container_404__boton a{
    text-decoration: none;
    color: black;
}

.container_404__boton button{
    border-radius: .4em;
}

.container_404__boton button a:hover{
    background-color:$paleta;
}