@import "menu";
@import "footer";



.staffContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.staffContainer__Foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staffContainer__Foto img{
    width: 17em;
    height: 17em;
}

.staffContainer__Foto h2{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}
