@import "menu";
@import "footer";


$paleta:#3F6CA6;

.containerAcercaNos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerAcercaNos__titleContainer{
    background-color: $paleta;
    width: 70%;
    display: flex;
    justify-content: center;
    border-radius: 2em;
}

.containerAcercaNos__title{
    font-size: 2.5em;
    font-weight: bold;
}

.containerAcercaNos__paragraphContainer{
    display: flex;
    width:70%;
    height: 15em;
    justify-content: center;
    margin-top: -2em;
}

.containerAcercaNos__paragraph{
    justify-self: center;
    align-self: center;
    font-size: 1.2em;
    line-height:1.5em;
    letter-spacing:0.04em;
    word-spacing: 0.1em;
}

.staffContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.staffContainer__Foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staffContainer__Foto img{
    width: 17em;
    height: 17em;
}

.staffContainer__Foto h2{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}