@import "menu";
@import "footer";

.containerForm{ 
    width: 100%;
    max-width: 68.75em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5.625em;
    margin-bottom: 15em;

}

.formularioInfo{ 
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formularioInfo__titulo{
    margin-bottom: 0.938em;
    font-size: 4em;
}

.formularioInfo__texto{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.063em;
    line-height: 1.6;
    margin-bottom: 1.875em;
}

.formularioInfo a{
    font-size: 1.063em;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 1em;
    color: black;
    font-weight: 700;
}

.campos{ //bloque 7
    padding: 0.2em;
}

.campos__llenar, textarea{
    width: 100%;
    padding: 1em 1em;
    font-size: 1.1em;
    border: 1px solid #dbdbdb;
    margin-bottom: 2em;
    border-radius: 3px;
    outline: 0px;
}

.boton{ //bloque 8
    padding: .9em;
    font-size: 1em;
    border:0.1em solid black;
    outline: 0px;
    background-color:white;
    color: black;
    border-radius: 2em;
    cursor: pointer;
    margin-left:2em;
}
.boton:hover{
    background: #3F6CA6;
    color:white;
}