footer{
    width: 100%;
    padding: 40px 0px;
    margin: 0px;
}

$width:1200px;

.containerFooter{ //bloque 2
    @if $width == 1200px{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
        margin: auto;
        margin-top: 0px;
    } @else{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
        margin: auto;
        margin-top: 0px;
    }
}

.containerFooter__elemento{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.containerFooter__titulo{
    margin-bottom: .5em;
    color: #343434;
    font-weight: 700;
}

.containerFooter__elemento a{
    margin-top: 1em;
    color: #7a7a7a;
    font-weight: 600;
}

.containerFooter__elemento a:hover{
    opacity: 0.8;
}

.containerFooter__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.containerFooter__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.containerFooter__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


.containerLogo{ //bloque 3
    padding: 0.2em;
}

.containerLogo__imagen{
    width: 180px;
}


.containerParrafo{ //bloque 4
    padding: 0em;
}

.containerParrafo_texto{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

