@import "index";
@import "info";
@import "contacto";
@import "nuestrosServicios";
@import "acercaDeNosotros";
@import "404";

*{
    margin:0.2rem;
    padding:0.1rem;
    font-family: 'Roboto Condensed';
    font-size: 110%;
}