<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error404 | DeFiAR</title>
    <link rel="shortcut icon" href="..img/favicon.ico">
    <meta name="keywords" content="bitcoin ethereum criptomonedas precio_bitcoin precio_ethereum web3 dolar dolarblue usdt wallet exchange binance comprar_bitcoin como_comprar_bitcoin defi finanzas decentralizacion ingresos"/>
    <meta name="description" content="Este sitio nació para solucionar la problemática de la dificultad que trae operar en el mercado de las criptodivisas para nuevos usuarios, ofreciendo una experiencia de usuario amigable y accesible para todo el mundo."/>
    <!--CSS y fuentes-->
    <link rel="stylesheet" href="../css/destino.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0cf65ac5b.js" crossorigin="anonymous"></script>
    <!--Responsive-->
    <meta name="viewport" content="width=device-width"/>
</head>

<body>
    <div class="container_404">
        <div class="container_404__imagen">
            <img src="../img/logo.png" alt="logo">
        </div>

        <div class="container_404__titulo">
            <h1>Lo sentimos! La página que ha solicitado no se encuentra disponible</h1>
        </div>

        <div class="container_404__titulo">
            <h2>Estamos trabajando para solucionarlo.</h2>
        </div>

        <div class="container_404__boton">
            <button>
                <a href="../index.html">Volver Atrás</a>
            </button>
        </div>
    </div>
</body>
</html>