<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información | DeFiAR</title>
    <meta name="keywords" content="bitcoin ethereum criptomonedas precio_bitcoin precio_ethereum web3 dolar dolarblue usdt wallet exchange binance comprar_bitcoin como_comprar_bitcoin defi finanzas decentralizacion ingresos"/>
    <meta name="description" content="En esta página se resume brevemente ciertos conceptos fundamentales que se debe conocer antes de comenzar a operar en las finanzas decentralizadas."/>
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/destino.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b0cf65ac5b.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--NAVBAR BOOTSRAP-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
              <li class="nav-item menu">
                <a class="nav-link menu__texto" aria-current="page" href="nuestrosServicios.html">Nuestros Servicios</a>
              </li>
              <li class="nav-item menu">
                <a class="nav-link" href="acercaDeNosotros.html">Acerca de Nosotros</a>
              </li>
              <li class="nav-item menu">
                <a class="nav-link" href="info.html" >Informacion</a>
              </li>
              <li class="nav-item menu">
                <a class="nav-link" href="contacto.html">Contacto</a>
              </li>
              <li class="nav-item botonContainer">
                  <button class="boton"><a href="#"></a>Iniciar Sesion</button>
              </li>
              <li class="nav-item botonContainer">
                  <button class="boton"><a href="#"></a>Registrarse</button>
              </li>
            </ul>
           <div>
           </div>
          </div>
        </div>
      </nav>
</header>

    <div class="containerInfo">
        <div class="containerInfo__elemento par-1">
            <h2 class="containerInfo__pregunta">¿Qué son las criptomonedas?</h2>
            <p class="containerInfo__respuesta">Las criptomonedas, también llamadas criptodivisas o criptoactivos, son un medio digital de intercambio. Cumple la función de una moneda, y de ahí que se las conozca con ese nombre. Sin embargo, es algo totalmente digital, que utiliza métodos criptográficos para asegurar sus transacciones financieras, controlar la creación de nuevas unidades y verificar la transferencia de activos.
              Por lo tanto, podemos considerarlas como una alternativa descentralizada a las monedas digitales. Con el término "descentralizada" nos referimos a que estas monedas no son controladas por un único servicio o empresa. Lo mismo pasa con las monedas convencionales, centralizadas y organizadas por entidades y bancos, por lo que son un método opuesto a ambas.
              La primera criptomoneda fue el Bitcoin creado por "Satoshi Nakamoto", seudónimo que corresponde a una persona que nadie sabe exactamente quién es. Esta persona publicó en 2009 un artículo en el que describía un sistema de pagos P2P al que llamó Bitcoin. </p>
        </div>

        <div class="containerInfo__elemento par-2">
            <h2 class="containerInfo__pregunta">¿Qué es el ecosistema DeFi?</h2>
            <p class="containerInfo__respuesta">Es el nombre que recibe el ecosistema de aplicaciones financieras que se está construyendo sobre las blockchain de Ethereum y otras criptomonedas. Se busca con DeFi (Decentralized Finance) crear un ecosistema financiero radicalmente opuesto al actual, basado en el código abierto, acceso libre (permisionless) y totalmente transparente.
              Básicamente las DeFi no son más que smart contracts, líneas de código que establecen una serie de acciones y condiciones. Los smart contract se ejecutan dentro de la blockchain de una criptomoneda. Actualmente la blockchain de Ethereum es la que más se utiliza para crear smart contracts, en general.
              Se elimina en las DeFi la necesidad de terceros de confianza e intermediarios, se elimina el papeleo y se genera un sistema de finanzas descentralizadas seguro y ágil.</p>
        </div>

        <div class="containerInfo__elemento par-3">
            <h2 class="containerInfo__pregunta">¿Qué ventajas trae sobre las finanzas comunes y corrientes?</h2>
            <p class="containerInfo__respuesta">Facilita el acceso a los servicios financieros a personas que actualmente no están bancarizadas. Es una gran oportunidad para la libertad financiera de las personas
              Se simplifica el proceso de financiación para las empresas y diferentes tipos de proyectos. Mediante las DeFi se puede ofrecer desarrollo y financiación en zonas o para compañías que de otro modo lo podrían tener muy complicado
              Ofrecen seguridad a todas las partes, ya que una vez se valida la operación esta ya no se puede modificar. Esto asegura que no se añaden clausulas o se modifican algunos aspectos a voluntad o en favor de una de las partes
              Los smart contract ofrecen una gran versatilidad y facilidad para crear diferentes soluciones. Cualquiera puede escribir un smart contract o simplemente acceder al código de un smart contract y adaptarlo a las necesidades que tenga</p>
        </div>

        <div class="containerInfo__elemento par-4">
            <h2 class="containerInfo__pregunta">¿Qué es una wallet?</h2>
            <p class="containerInfo__respuesta">Una wallet es un software que almacena tus claves públicas y privadas (siempre van juntas) y te permite enviar y recibir criptomonedas a través de la Blockchain, almacenar las que quieras y controlar siempre que quieras tu saldo. Aunque compararlas con tu cartera, las Wallets son bastante diferentes a lo que hasta ahora conocemos como una billetera. No están hechas para almacenar dinero, almacenan claves privadas y públicas.

              Las claves privadas son como el número PIN de tu tarjeta y sirven para acceder a tu cuenta. Las claves públicas son lo más parecido a tu cuenta bancaria, en este caso yo lo compararía mejor con un email.
              Cuando alguien envía por ejemplo un Bitcoin, está enviado un valor en forma de transacción, transfiriendo una propiedad al destinatario. Para que la wallet registre el ingreso y el destinatario pueda usar su Bitcoin, las claves privadas deben de coincidir con la dirección a la que se envió la moneda.   
              La propiedad y la conservación de tus claves privadas te otorga un control absoluto sobre los fondos que estén asociados a tus claves públicas. Es importantísimo que nunca desveles tus claves privadas ya que cualquiera podría hacerse con el control de tus criptodivisas y de tu Wallet.
              Te recomiendo tener siempre copias de seguridad de las claves privadas y de la semilla de cualquier Wallet que tengas.            
              Existen muchos tipos y siempre hay alguna disponible para nuestras necesidades.</p>
        </div>
    </div>

    <footer >
        <div class="containerFooter">
            <div class="containerFooter__elemento">
                <div class="containerLogo">
                    <img class="containerLogo__imagen" src="../img/logo.png" alt="Logo">
                </div>
                <div class="containerParrafo">
                    <p class="containerParrafo_texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
                </div>
            </div>

            <div class="containerFooter__elemento">
                <h2 class="containerFooter__titulo">Nuestras Redes</h2>
                <a href="#">Instagram</a>
                <a href="#">Youtube</a>
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
            </div>

        </div>

        <div class="containerFooter__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Ignacio Dall'Acqua</b></p>
        </div>
    </footer>

    <!--JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>